pre.shiki code {
	overflow-x: scroll;
	scrollbar-width: thin;
	padding: 1em 1.25em;
}

span.shiki {
	padding-bottom: 0.125em;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.tooltiptext {
	font-family: "Open Sans", sans-serif;
}

.shiki {
	border: 1px solid #eaecef;
}

html.coal .shiki,
html.navy .shiki,
html.ayu .shiki {
	border: 1px solid #2d3748;
}

html.coal .shiki span,
html.coal .shiki {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}
html.navy .shiki span,
html.navy .shiki {
	color: var(--shiki-navy) !important;
	background-color: var(--shiki-navy-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-navy-font-style) !important;
	font-weight: var(--shiki-navy-font-weight) !important;
	text-decoration: var(--shiki-navy-text-decoration) !important;
}
html.ayu .shiki span,
html.ayu .shiki {
	color: var(--shiki-ayu) !important;
	background-color: var(--shiki-ayu-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-ayu-font-style) !important;
	font-weight: var(--shiki-ayu-font-weight) !important;
	text-decoration: var(--shiki-ayu-text-decoration) !important;
}

html.light .shiki,
html.light .shiki span,
html.rust .shiki,
html.rust .shiki span {
	color: var(--shiki-light) !important;
	background-color: var(--shiki-light-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-light-font-style) !important;
	font-weight: var(--shiki-light-font-weight) !important;
	text-decoration: var(--shiki-light-text-decoration) !important;
}

h1:not(.menu-title) {
	margin-block-start: 1em !important;
}
h2 {
	margin-block-start: 1em !important;
}
h3 {
	margin-block-start: 1em !important;
}
h4 {
	margin-block-start: 0.75em !important;
}
h5 {
	margin-block-start: 0.5em !important;
}
h6 {
	margin-block-start: 0.25em !important;
}
.sidebar .sidebar-scrollbox {
	padding: 10px 20px !important;
}
